#content { 
    padding: 10px;
    margin-bottom: 10px;
    border: solid 10px; 
    color: rgb(60, 200, 60);
    background-color: rgb(32, 9, 121);
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #12c8dd;
    background-color: #780976;
  }

  


  